


/* Colours */
:root {
  --main: #011A4C;
  --white: #ffffff;
  --body-text: #343434;
}

/* Fonts */
:root {
  --body-font: 'Montserrat', sans-serif;
  --hero-font: 4.125rem;
  --sub-font: 2.125rem;
  --beta: 1.125rem;
  --body-font: 0.9375rem;
  --other-font: 1.0625rem; 
}

/* Responsiveness variables */
@media screen and (max-width: 768px){
  
}



/*Basics*/
*,::before,::after{
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: var(--body-font);
  line-height: 1.6;

}

.introduction {
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 4rem;
  width: 100%;
  background-color: #e0e0e0;
}

.hero {
  flex: 1;
  text-align: start;
}

.heroText h1 {
  font-size: var(--hero-font);
  font-weight: 900;
  color: #000000;
}

.elipse {
    flex: 1;
    text-align: center;
}

.elipse img {
  width: 482px;
  height: auto;
}


.project-button {
  font-size: var(--other-font);
  padding: 10px 5%;
  border: 1px solid var(--body-text);
  border-radius: 5px;
  background-color: #000000;
  color: var(--white);
  cursor: pointer;
}

.project-button:hover {
  background: #000000e1;
  color: var(--white);
}

.about-container {
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  padding: 5rem;
}

.aboutUs {
  line-height: 1.6;
  flex: 1;
  text-align: left;
  margin-right: 8rem;
}


#beta {
  font-size: var(--sub-font);
  color: var(--main);
  font-weight: 600;
}

.aboutUs p {
  font-size: var(--other-font);
  color: var(--body-text);
}

.team-image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  height: 700px;
  flex: 1;
  align-content: start;
  padding: 10px;
  
}

.container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  background-color: #e0e0e0;
  transition: .3s;
  border-radius: 5px;
  border-style: none;
  text-align: justify;
  padding: 15px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}


.container h3 {
  font-size: var(--beta);
  font-weight: 200;
}

#showcase {
  font-size: var(--body-font);
}

.portfolio-container {
  text-align: center;
  justify-items: center;
  background-color: #f8f6f6;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  grid-gap: 10px;
}



.image-div img {
  border-radius: 5px;
  width: 100%;
}
