


/* Colours */
:root {
  --main: #011A4C;
  --white: #ffffff;
  --body-text: #343434;
}

/* Fonts */
:root {
  --body-font: 'Montserrat', sans-serif;
  --hero-font: 4.125rem;
  --sub-font: 2.125rem;
  --beta: 1.125rem;
  --body-font: 0.9375rem;
  --other-font: 1.0625rem; 
}

/* Responsiveness variables */
@media screen and (max-width: 768px){
  
}



/*Basics*/
*,::before,::after{
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: var(--body-font);
  line-height: 1.6;

}

a {
  text-decoration: none;
}

header {
  padding: 2rem;
  background-color: #e0e0e0;
}

.logo {
  color: #000000;
  font-weight: bold;
}

.menu-toggle {
  float: right;
  width: 20px;
  cursor: pointer;
}

nav {
  position: absolute;
  padding: 2em;
  background-color: #000000;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  transform: scaleX(0);
  transform-origin: right;
}

.cancel-toggle {
  float: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 10% auto 0 auto;
  width: 80%;
}

.nav-link {
  color: var(--white);
  font-size: var(--sub-font);
  font-weight: bold;
}

li {
  opacity: 0;
}

.show-menu {
  display: block;
  animation: slide-menu 1s ease-in forwards;
}

.show-menu .cancel-toggle { 
  animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  animation: menu-item-anim .4s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  animation: menu-item-anim .4s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  animation: menu-item-anim .4s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  animation: menu-item-anim .4s forwards 1.6s ease-in-out;
}

@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes menu-item-anim {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.introduction {
  align-items: center;
  min-height: 80vh;
  padding: 4rem;
  width: 100%;
  background-color: #e0e0e0;
}

.hero {
  text-align: center;
  margin: 4rem;
  padding: 2rem;
}

.heroText h1 {
  font-size: var(--hero-font);
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}

/*
.elipse {
    flex: 1;
    text-align: center;
}

.elipse img {
  width: 482px;
  height: auto;
}
*/

.project-button {
  margin-top: 2rem;
  font-size: var(--other-font);
  padding: 10px 5%;
  border: 1px solid var(--body-text);
  border-radius: 5px;
  background-color: #000000;
  color: var(--white);
  cursor: pointer;
}

.project-button:hover {
  background: #000000e1;
  color: var(--white);
}

.about-container {
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 1.5rem;
  padding: 2rem 5rem;
}

.aboutUs {
  line-height: 1.5;
  text-align: left;
  margin-left: 5rem;
}


#beta {
  font-size: var(--sub-font);
  color: var(--main);
  font-weight: 600;
}

.aboutUs p {
  font-size: var(--other-font);
  color: var(--body-text);
}

.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  background-color: #e0e0e0;
  transition: .3s;
  border-radius: 5px;
  border-style: none;
  text-align: justify;
  padding: 15px;
  height: 210px;
  width: 210px;
  cursor: pointer;
}


.container h3 {
  font-size: var(--beta);
  font-weight: 200;
}

#showcase {
  font-size: var(--body-font);
  text-align: left;
}

.portfolio-container {
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  justify-items: center;
  background-color: #f8f6f6;
}


.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  grid-gap: 10px;
}



.image-div img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
